<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/png" href="images/favicon-small.png" sizes="16x16">
    <link rel="icon" type="image/png" href="images/favicon-large.png" sizes="32x32">
    <title>Graphs DB</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body class="home-bg">
<div class="home-gradient"></div>
<div class="logo pt-5">
    <a href="index.html">
        <img src="images/graphs-logo.svg" class="mx-auto">
    </a>
</div>
<div class="container form-signin">
    <form action="login" method="post">
        <h1 class="text-center">Login</h1>
        <div class="form-group form-search pt-4 mt-3">
            <span class="fa fa-user form-icon"></span>
            <input type="text" class="form-control mb-3" id="username" name="username" placeholder="Username">
            <span class="fa fa-lock form-icon"></span>
            <input type="password" class="form-control mb-3" id="password" name="password" placeholder="Password">
        </div>
        <button class="btn btn-dark btn-block mb-3" type="submit"><a href="admin-dash.html">Continue</a></button>
    </form>
</div>
</body>
</html>
